

<div class="header"></div>
<div class="left">
    <button (click)="authenticate()" disabled>Authenticate</button><br/>
  <input type="text" placeholder="Search channel" [(ngModel)]="channel"><button (click)="searchChannel()">find</button><br/>
  <span>{{foundChannel}}</span><span (click)="joinChannel()">|Join|</span><br/>
  <input type="text" placeholder="Your Chennel Name" [(ngModel)]="newChannel"> <span (click)="addChannel()">+</span>
  <p><u>Your channels</u></p>

  <p (click)="addRole()" >Add Role</p>

</div>
<div class="right">

  <div class="chat">
    <ul *ngFor="let message of allMessages" >
        <span [ngClass]="message.sender?'my':'your'">{{message.msg}}</span>
    </ul>
      
      

  </div>
  <div class="message">
    <div class="messageField">
      <div class="msgSend">
        <input type="text" [(ngModel)]="myMessage" class="msg">
        <button (click)="sendMessage()">send</button>
      </div>
    </div>  
  </div>

</div>
